<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Rekkid Randomizer!</title>
    <meta name="description" content="A thing to pick a random rekkid from my collection and also maybe some other stuff later">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <link rel="apple-touch-icon" href="https://cdn.glitch.com/b807cf2e-4ff4-4a6a-879a-bcb24c560e88%2Fapple-touch-icon.png?1538498451294">
    <link rel="shortcut icon" type="image/png" href="https://cdn.glitch.com/b807cf2e-4ff4-4a6a-879a-bcb24c560e88%2Ffavicon.png?1538498448237"/>
  </head>
  <body>
    <header>
      <h1>
        Rekkid Randomizer
      </h1>
      <h2>Your Random Rekkid is...</h2>
      <h3 id="random-rekkid"></h3>
      <button type="submit" id="get-new-rekkid">Pick Another Rekkid</button>
    </header>


    <table align="center">
      <thead><h1>My Discogs Collection</h1></thead>
        <tr>
          <th>Artist</th>
          <th>Title</th>
        </tr>
      <tbody id="discogs-collection">
        <tr class="discogs-loading">
          <td>
            <img src="https://cdn.glitch.com/b807cf2e-4ff4-4a6a-879a-bcb24c560e88%2Fvinyl-record-animation.gif?1538233706822"/>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/rekkids.js"></script>
  </body>
</html>
