/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

body {
  font-family: rockwell, arial, sans-serif;
}

h1 {
  font-weight: bold;
  color: green;
  text-align: center;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

table {
  border-collapse: collapse;
  vertical-align: middle;
  font-family: monospace;

}

th {
  color: black;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: cyan;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  margin: 4px 2px;
  padding: 20px;
  border-radius: 12px;
  background-color: green;
  color: white;
  text-align: center;
  border: none;
  display: inline-block;
  cursor: pointer;
}

button:hover {
  background-color: #94c902;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

header {
  text-align: center
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}

.nicejob {
  text-decoration: line-through;
}

#discogs-collection {
  color: coral;
  font-weight: bold;
}

.discogs-link:hover {
  background-color: lightgreen;
}


#random-rekkid {
  color: red;
  font-weight: bold;
}
